* {
    margin: 0;
    font-family: 'Dongle', sans-serif;
  

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 30px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: darkgoldenrod;
  }

  .nav {
    margin-top: 5%;
    text-align: center;

  }



h1 {
    font-size: 90px;
}


.color {
    margin-top: 4%;
    text-align: center;
}

.color h2{
    font-size: 50px;
}

button {
    background-color: #4CAF50; /* Green */
    border-radius: 2%;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    margin-top: 11px;
  }


   button a:hover {
    background-color: green;
  }

